<style>
    .err {
        color: var(--error);
        text-align: center;
    }

    .err-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<img class="err-img" src="/img/togepost.png">
<h1 class="err">404 not found!</h1>
