<link rel = "stylesheet" href="css/about.css">
<link rel = "stylesheet" href="/css/styles.css">

<div class = "about">
    <head>
        <h1>npm packages used:</h1>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <main>
        <p>dotenv</p>
        <p>express-handlebars</p>
        <p>express</p>
        <p>mongodb</p>
        <p>mongoose</p>
        <p>path</p>
        <p>url</p>
        </main>
    <footer>
      <p>&copy; 2023 SportsLink. All rights reserved.</p>
    </footer>
  </body>
</div>