<link rel="stylesheet" href="/css/home.css">

<main>
		<section id="hero-image">
			<div class="display">
				<img id="fball" src="/img/football.jpg" alt="Football Pitch">
                <div class="hero-text">
                    <h1>SportsLink</h1><br><br>
                    <p>The ultimate sports experience</p>
                </div>
			</div>
		</section>

		<section id="about">
            <div id="about-us-image">
                <div class="image">
                    <img src="/img/bball.jpg" class="right-image" id="bball" alt="Basketball image">
                </div>

                <div class="about">
                  <h1 class="section-title">About Us</h1><br>
                  <p class="left-text">
                    At SportsLink, we're passionate about helping athletes and sports enthusiasts find the perfect venues for their activities. Our team has years of experience in the sports industry, and we know how challenging it can be to find high-quality, well-maintained facilities that meet your specific needs.
                    <br><br><br>That's why we've created an easy-to-use online platform that makes it simple for you to search, compare, and book venues that are tailored to your sport and location.
                    Whether you're a seasoned pro or just getting started in your athletic journey, we're here to help you achieve your goals and make the most of your passion for sports.
                    <br><br><br>Thank you for choosing SportsLink as your trusted partner in sports venue registration!
                    </p>
                </div>
            </div>
		</section>

        <section id="venues">
            <div class="venue">
                <div class="image">
                    <img src="/img/tennis.jpg" id="tennis" alt="Tennis Court">
                </div>

                <div class="venue-desc">
                  <h1 class="section-title">Venues</h1><br>
                  <p id="venue-text">
                    Finding the right sports venue can be a daunting task, especially if you're not familiar with the area.
                    At SportsLink, we understand the importance of having a comfortable and well-maintained facility to train and play your favorite sport.
                    <br><br><br>Our platform makes it easy for you to search and compare a wide range of venues based on your specific needs, including location, sport type, amenities, and more. Our database includes a variety of facilities, from community centers and public parks to private clubs and stadiums, all with detailed information and reviews from real users.
                    <br><br><br>With SportsLink, you can find the perfect venue that meets your requirements and budget, and book it with just a few clicks.
                    <br><br>Click <a class="link" href="/list">here</a> to view the list of venues available!
                  </p>
                </div>
            </div>
        </section>

        <section id="register">
            <div class="registration">
                <div class="image">
                    <img src="/img/vball.jpg" class="right-image" id="vball" alt="Volleyball image">
                </div>

                <div class="rgstr">
                  <h1 class="section-title">Registration</h1><br>
                  <p class="left-text">
                    When you've found the perfect venue, you can book it directly through our website.
                    You can also easily manage your bookings and make changes to your schedule or preferences through your account dashboard.
                    Our registration process is designed to be hassle-free and user-friendly, so you can focus on what's most important - enjoying your sports activities!
                    <br><br>Click <a class="link" href="register.html">here</a> to register!
                  </p>
                </div>
            </div>
        </section>
	</main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2023 SportsLink. All rights reserved.</p>
        </div>
    </footer>